# Django Settings
ENVIRONMENT=dev
SECRET_KEY=your-very-secret-django-key
DEBUG=True

# CORS
FRONTEND_URL=http://localhost:4000

# External APIs
OPENROUTESERVICE_API_KEY=your-openrouteservice-api-key

# Docker Configuration
MIGRATE=true
COLLECTSTATIC=false
PORT=8000